<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>

  <div class="profile-container">
    <img src="https://i.pinimg.com/474x/cc/5f/93/cc5f93c15abc22fa145107e52cabb0f9.jpg" alt="Profile Picture" class="profile-image">
    <h1><%= user.fullname %></h1>
    <h3>@<%= user.username %></h3>
    <p><%= user.followers %> followers</p>
    <button>Share</button>
    <button>Edit Profile</button>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="text" name="filecaption" placeholder="provide caption">
      <input type="file" name="file">
      <input type="submit" value="upload">
    </form>
  </div>
  
  <div class="post-container">
    
    <% user.posts.forEach(function(post){%>
      <div class="card">
          <img src="/images/uploads/<%=post.image%>" alt="Post Image">
          <h5><%= post.post_text %></h5>
      </div>
    <%}); %>
   
  </div>

</body>
</html>
